<h1>About Me</h1>

<hr>
<div class="row">
  <div class="col-md-4">
    

    <%= image_tag "prof.jpg", width: 300, alt: "My profile image" %>
  </div>
  <div class="col-md-8">
    <p>Welcome. More coming soon</p>
    <br>
    <p>Man at work</p>

  </div>
  
</div>
